

/* ------------------------- PRIMARY STYLE ------------------------- */


*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box; 
}
  
* {
    padding: 0px;
    margin: 0px;
	font-smoothing: antialiased;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/roboto-reg.woff2') format('woff2'),
		 url('fonts/roboto-bold.woff2') format('woff2');

}

html {
	width: 100%;
	height: 100%;
}

body {
	font-size: .7rem;
    font-family: 'Roboto', Fallback, sans-serif;
	color: #e5e5e5;
	-webkit-font-smoothing: antialiased;
	background-color: black;
	margin: 0px; 
}

a {
	text-decoration: none; 
}

form {
	color: black;
}

input {
	border:none;
	color:#e5e5e5;
}


/* ------------------------- GLOBAL CLASSES ------------------------- */


.text-red {
	color: rgb(255,0,0);
}

.text-green {
	color: rgb(0,210,0);
}

.ok-green {
	color: rgba(27, 211, 87, 0.8) !important;
}

.ok-red {
	color:rgba(218, 59, 38, 0.9) !important;
}

.vert-align {
	display:block;
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}

.vert-align-abs {
	display:block;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
}

.vert-align-horiz-align {
	display:block;
	position:relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.clickable {
	cursor: pointer;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
	cursor:default;
}

.fadeSlow {
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.fadeSlowIndy {
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}


/* ------------------------- TABS ------------------------- */


.tab-content-wrap {
	height:100%;
	position:relative;
}

.tab-wrap {
	display:none !important;
}

.tab-wrap.active {
	display:block !important;
}


/* ------------------------- DATA TABLES ------------------------- */


/*
.dataTables_scrollHeadInner, .dataTables_scrollHeadInner  table, table.dataTable {
	width:100% !important;
}*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
	background: black;
	color: white !important;
	font-family: 'open_sanslight', Fallback, sans-serif;
	border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: rgb(255,255,255);
	color: rgb(0,0,0) !important;
	cursor: pointer;
}

table.dataTable tbody th, table.dataTable tbody td{
	padding:2px;
	font-size:0.75rem;
}


/* ------------------------- MODALS STRUCTURE ------------------------- */



.makeofferPopup {
	width:95%;
	position:absolute;
	display:none;
	background: rgba(0,0,0,0.8);
	border:1px solid #505050;
	border-radius:4px;
	z-index:300;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	left:50%;
	transform:translateX(-50%);
	margin-top:50px;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
	webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.makeofferPopup.active {
	display:block;
}

.makeofferPopup-header {
	height:30px;
	width:100%;
	position:relative;
	display:block;
	font-size:16px;
	border-bottom:1px solid #505050;
}

.makeofferPopup-header-left {
	height:100%;
	position:relative;
	float:left;
}

.makeofferPopup-header-right {
	height:100%;
	position:relative;
	float:right;
}

.makeofferPopup-content {
	width:100%;
	position:relative;
	display:block;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.conf-jumbotron {
    margin: 10px;
	margin-bottom:5px;
	margin-top:5px;
    padding: 10px;
	padding-top:10px;
	padding-bottom:10px;
    border-left: solid 5px #ff8040;
    background: rgba(255,128,64,0.1);
	display:none;
}

.conf-jumbotron div {
    font-size: 16px;
    color: #ff8040;
}

.conf-jumbotron p {
    font-size: 14px;
}

.makeofferPopup-form {
	width:100%;
	position:relative;
	display:block;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.makeofferPopup-form-row {
	width:100%;
	height:30px;
	position:relative;
	display:block;
	font-size:14px;
}

.makeofferPopup-form-label {
	width:20%;
	position:relative;
	float:left;
}

.makeofferPopup-form-input {
	width:80%;
	position:relative;
	float:right;
}

.makeofferPopup-form-input input{
	background-color:#444444;
	color:#e5e5e5;
	width:80%;
	text-align:right;
	padding-right:3px;
}

.makeofferPopup-footer {
	height:40px;
	width:100%;
	position:relative;
	display:block;
	border-top:1px solid #505050;
	padding-top:15px;
}

.makeofferPopup-button {
	font-size:13px;
}

.makeofferPopup-button:hover {
	cursor:pointer;
}

.makeofferPopup-close {
	float:left;
	position:relative;
}

.makeofferPopup-confirm {
	float:right;
	position:relative;
}


.conf-footer {
    border-top: solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: 40px;
}

.conf-footer button {
    font-size: 14px;
    padding: 3px 5px;
    float: right;
    margin-left: 10px;
}


/* ------------------------- CHART BAR ------------------------- */


.horiz-list {
	height:100%;
	display:inline-block;
	float:left;
	margin-right:20px;
	margin-left:40px;
	font-size:12px;
}

.horiz-list-main {
	font-size: 13px;
}

.mm-interval-type {
	display:none;
}

.mm-interval-type.active {
	display:inline-block;
}

.horiz-list-title {
	height:100%;
	float:left;
}

.horiz-list-options {
	height:100%;

	float:left;
}

.horiz-list-option {
	height:100%;
	display:inline-block;
	float:left;
	position:relative;
	padding-left:10px;
}

.horiz-list-option:hover {
	color:#EDB379;
	cursor:pointer;
}

.horiz-list-option span.active {
	color:#EDB379;
}

.num-ticks span.active {
	color:#EDB379;
}

.dropdown-chart {
	display:inline-block;
	width: 100px;
	text-align: center;
	vertical-align:middle;
	height:100%;
	background-color:black;
	float:left;
}

.dropdown-title {
	display: block;
	padding: 5px 10px;
	font-size:12px;
}

.dropdown-title-main {
	font-size:13px;
}

.dropdown-title.active {
	border:1px solid #303030;
	border-bottom:none;
	z-index:100;
}

.dropdown-wrap {
	position:absolute;
	display:none;
	z-index:101;
	font-size: 13px;
	background:black;
	border:1px solid #303030;
}

.dropdown-wrap-main {
	top:30px;
}

.dropdown-wrap-tile {
	top:25px;
}


.dropdown-wrap.active {
	display:block;
}

.chart-table {
	margin-bottom:5px;
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	border-collapse:collapse;
}

.chart-table tr {
	text-align:left;
	border-bottom:1px solid #303030;
	line-height:18px;
}

.chart-table td {
	padding:6px;
	padding-right:15px;
	text-align:left;
}

.chart-table tr:last-child {
	border-bottom:none;
}

.chart-table ul {
	list-style:none;
	text-align:left;
}

.chart-table li {
	display:inline-block;
	padding-right:10px;
	color: #329ddc;
}

.mm-chart-config  li.active {
	color:#EDB379;
}

.mm-chart-config  li:hover {
	cursor:pointer;
	color:#EDB379;
}

.chart-loading {
	height:100%;
	width:100%;
	position:absolute;
	display:none;
	z-index:100;
	float:left;
	vertical-align:middle;
	cursor:default;
	background-color: rgba(0,0,0,0.6);
}

.chart-loading span {
	text-align:center;
	display:block;
	font-size:1rem;
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}


/* ------------------------- BODY WRAP ------------------------- */


#body_wrap {
	height: 100%;
	width: 100%;
	position:absolute;
	min-width: 1160px;
	min-height:660px;
	overflow-x:hidden;
	overflow-y:hidden;
}


/* ------------------------- MAIN WRAP ------------------------- */


#main_wrap {
	height: calc(100%);
	width: 100%;
	position:relative;
	overflow-x:visible;
	background:#0a0a0a;
	background:black;
}


/* ------------------------- LOADING WRAP ------------------------- */

.loading-overlay {
    overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1950;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.loading-overlay.active {
	opacity: 1;
	visibility: visible;
}

.loading-screen {
	height:50%;
	width:50%;
	position:fixed;
	display:none;
	background: rgba(0,0,0,0.8);
	border:1px solid #505050;
	border-radius:4px;
	z-index:2000;
	
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
}

.loading-screen.active {
	display:block;
}


/* ------------------------- LEFT WRAP ------------------------- */


#left_wrap {
	height:100%;
	width: calc(100% - 720px);
	position:relative;
	display: inline-block;
	float:left;
}


/* ------------------------- MAIN HEADER ------------------------- */


.mainHeader {
	height: 50px;
	width: calc(100% - 10px);
	position:relative;
	background-color: #191919;
	overflow: hidden;
	margin-right:10px;
	border: solid 1px #303030;
	background-image:linear-gradient(#151515, #222222 8%, #151515 85%);
	/*background-image:linear-gradient(#151515, #303030 10%, #202020 65%);*/
	background-image:linear-gradient(#111111, #333333 8%, #222222 85%);
	border-left:none;

}

#topLogoWrap {
	height:100%;
	width: 260px;
	float:left;
	position:relative;
}

#topLogo {
	width: 220px;
	margin-top: 10px;
	margin-left: 20px;
}


.mainHeader-menu  {
	height:100%;
	width:calc(100% - 260px);
	position:relative;
	display:block;
	float:right;
	vertical-align:top;
}

.mainHeader-menu-right  {
	height:100%;
	float:right;
	/*border-left:1px solid #303030;
	border-right:1px solid #050505;*/
}

.mainHeader-menu-cell {
	width:60px;
	height:100%;
	position:relative;
	text-align:center;
	float:right;
	z-index:11;
}

.mainHeader-menu-cellIcon {

}

.mainHeader-menu-cellIcon img {
	width:30px;
	height:30px;
	position:relative;
	display:inline-block;
}


/* ------------------------- BROWSE AREA ------------------------- */


.browseArea {
	height:calc(100% - 235px - 50px);
	width:calc(100% - 10px);
	position:relative;
	display: block;
	background: black;
	overflow: visisble;
	margin-right:10px
	/*border-left: inset 1px white;
	border-bottom: inset 1px white;*/
}

.browseArea.browseExpanded {
	height:calc(100% - 50px - 50px);
}


/* ------------------------- BROWSE AREA HEADER ------------------------- */


.browseArea-header {
	width:100%;
	height:40px;
	position:relative;
	display:block;
	background:#090909;
	border:solid 1px #303030;
	border-top:1px solid #111111;
	border-left:none;
	background-image:linear-gradient(#151515, #222222 8%, #151515 85%);
}

.browseArea-navbar {

}

.browseArea-navbar-cell {
	height:100%;
	position:relative;
	display:block;
	float:left;
	text-align:center;
	font-size:14px;
	padding-left:20px;
	padding-right:20px;
	border-right:1px solid #050505;
	border-left:1px solid #303030;
}

.browseArea-navbar-cell.active {
	color:#EDB379;
}

.browseArea-navbar-cell:hover {
	cursor:pointer;
	color:#EDB379;
}

/* ------------------------- BROWSE AREA BODY ------------------------- */


.browseArea-body {
	height:calc(100% - 40px);
	width:calc(100%);
	display:block;
	position:relative;
	padding-bottom:10px;
}


/* ------------------------- BROWSE AREA TAB ------------------------- */


.browseArea-tab {
	height:100%;
	width:100%;
	position:relative;
	display:none;
}

.browseArea-tab.active {
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

/* ------------------------- BROWSE CHART TAB ------------------------- */

.browse-chart-header {
	height:40px;
	width:100%;
	position:relative;
	display:block;
	border-bottom:1px solid #303030;
	background-color:#0a0a0a;
}

.browse-chart-search-wrap {
	padding-left:40px;
	height:100%;
	width:200px;
	position:relative;
	display:block;
	float:left;
}

.browse-chart-search-input input {
	width:100%;
	padding-left:6px;
	position:relative;
	display:block;
	background:#0a0a0a;
	border:1px solid #303030;
}

.browse-chart-wrap {
	height:calc(100% - 40px);
	width:100%;
	position:relative;
	display:block;
}


/* ------------------------- BROWSE TILE TAB ------------------------- */



.tiles {
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

.tiles-header {
	height:40px;
	width:100%;
	position:relative;
	display:block;
}

.tiles-header-pageWrap {
	height:100%;
	float:left;
	position:relative;
}

.tiles-header-page-num {
	font-size:16px;
	padding-top:14px;
	padding-left:30px;
}

.tiles-header-iconWrap {
	height:100%;
	position:relative;
	float:right;
}

.tiles-header-icon {
	height:100%;
	width:90px;
	position:relative;
	float:right;
	font-size:13px;
	margin-right:15px;
	text-align:center;
}

.tiles-header-icon:hover {
	background:#111111;
	cursor:pointer;
}

.tiles-header-icon span{
	display:block;
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}

.tiles-grid {
	height:calc(100% - 40px);
	width:100%;
	position:relative;
	display:block;
	padding-left:10px;
	padding-right:10px;
}

.tiles-grid-wrap {

	height:800px;
	width:100%;
	position:relative;
	display:block;
}

.tiles-row {
	height:33%;
	width:100%;
	display:block;
	position:relative;
}

.tile-wrap {
	height: 100%;
	width: 50%;
	position:relative;
	display:inline-block;
	float:left;
	padding:20px;
}


/* ------------------------- BROWSE TILE ------------------------- */


.all-border {
	border:1px solid #303030;
}

.tile {
	height: calc(100% - 40px);
	width: calc(50% - 40px);
	position:relative;
	display:inline-block;
	float:left;
	margin:20px;
}

.tile-hover {
	background: rgba(240,130,50,0.8);
	background: rgba(50,158,220,0.7);
	background: rgba(255,255,255,0.3);
	cursor:pointer;
	/*background: rgba(237,179,121,0.8);*/

}

.tile-main {
	width:100%;
	height:100%;
	position:relative;
	display:none;
}

.tile-main.active {
	display:block;
}


/* ------------------------- TILE CHART ------------------------- */


.tile-header {
	height:30px;
	width:100%;
	position:absolute;
}

.tile-header-overlay-trig {
	position:absolute;
	display:block;
	top:5px;
	left:5px;
	z-index:33;
}

.tile-header-overlay-trig.active {
	display:none;
}

.tile-header-overlay-trig img.activeLock {
	opacity: 0.8 !important;
}

.tile-header-overlay-trig img {
	height:20px;
	width:20px;
	opacity:0.5;
}

.tile-header-overlay-trig img:hover {
	opacity:0.8;
}

.tile-chart-bar {
	position:absolute !important;
	z-index:30;
	width:100% !important;
	display:none !important;
	background:#0a0a0a !important;
	border:1px solid #222222;
}

.tile-chart-bar .dropdown-title {
	background:#0a0a0a !important;
}

.tile-chart-bar.active {
	display:block !important;
}

.tile-chart-bar.activeLock {
	display:block !important;
}

.tile-pad-wrap {
	margin-left:0px !important;
	margin-right:0px !important;
}

.tile-body {
	height:calc(100%);
	width:100%;
	position:relative;
}

.tile-body-data {
	height:calc(100%);
	width:100%;
	position:relative;
}


/* ------------------------- TILE ORDERBOOK ------------------------- */


.tile-orderbook-top {
	height:30px;
	width:100%;
	position:relative;
	display:block;
	border:1px solid #303030;
}

.tile-orderbook-search {
	padding-left:10px;
	height:100%;
	width:100px;
	position:relative;
	float:left;
}

.tile-orderbook-search-input {
	width:100%;
	position:relative;
	float:left;
}

.tile-orderbook-search-input:hover {
	cursor:pointer;
	color:#EDB379;
}

.tile-orderbook-pair {
	height:100%;
	position:absolute;
	display:block;
	font-size:16px;
	left:50%;
	transform: translateX(-50%);
}

.tile-orderbook-body {
	height:calc(100% - 30px - 20px);
	width:100%;
	position:relative;
	display:block;
}

.tile-orderbook-bids {
	height:calc(100%);
	width:50%;
	position:relative;
	float:left;
	border:1px solid #303030;
	border-top:none;
	border-left:none;
}

.tile-orderbook-asks {
	height:calc(100%);
	width:50%;
	position:relative;
	float:left;
	border-bottom:1px solid #303030;
}

.tile-orderbook-labels {
	height:20px;
	width:100%;
	position:relative;
	display:block;
	border-bottom:1px solid #303030;
	
	padding-right:10px;
	padding-left:10px;
	text-align:center;
}

.tile-orderbook-labels-row {
	position:relative;
	display: block;
	width:100%;
	padding-top:5px;
}

.tile-orderbook-labels-col  {
	width:30%;
	display:inline-block;
	font-size: 13px;
	color:#329ddc;
}

.tile-orderbook-orders {
	height:calc(100% - 20px);
	width:100%;
	position:relative;
	display:block;
}

.tile-orderbook-order-row {
	position:relative;
	display: block;
	width:100%;
	margin-top:4px;
	margin-bottom:4px;
}

.tile-orderbook-order-col {
	height:11px;
	line-height:11px;
	font-size: 11px;
	margin-top:4px;
	margin-bottom:4px;
	display: inline-block;
	width: 30%;
	text-align:right;
	vertical-align:middle;
}

.tile-orderbook-footer {
	height:20px;
	width:100%;
	border-bottom:1px solid #303030;
}


/* ------------------------- TILE ORDERBOOK SEARCH POPUP ------------------------- */


.tile-orderbook-search-popup {
	min-height:50px;
	width:230px;
	position:absolute;
	display:none;
	background: rgba(0,0,0,0.8);
	border:1px solid #505050;
	border-radius:4px;
	z-index:200;
	left:10px;
	top:30px;
}

.tile-orderbook-search-popup.active {
	display:block;
}

.tile-orderbook-search-popup-body {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.tile-orderbook-search-popup-input-wrap {
	width:100%;
	position:relative;
	text-align:center;
	display:block;
}

.tile-orderbook-search-popup-row {
	width:100%;
	height:50px;
	padding-top:10px;
	padding-bottom:10px;
}

.tile-orderbook-search-popup-label {
	width:100%;
	display:block;
	position:relative;
	text-align:left;
	margin-bottom:10px;
	font-size:13px;
}

.tile-orderbook-search-popup-input {
	width:100%;
	position:relative;
	display:block;
	text-align:right;
}

.tile-orderbook-search-popup-input input{
	width:100%;
	position:relative;
	display:inline-block;
}

.tile-orderbook-search-popup-bottom {
	height:calc(30px);
	width:100%;
	position:relative;
	display:block;
	padding-top:10px;
}

.tile-orderbook-search-popup-button {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:15px;
}

.tile-orderbook-search-popup-button:hover {
	color:#EDB379;
	cursor:pointer;
}


/* ------------------------- TILE CREATE POPUP ------------------------- */


.tile-create {
	height:100%;
	width:100%;
	position:absolute;
	display:none;
	z-index:20;
}

.tile-create.active {
	display:block;
}

.tile-create-close {
	position:absolute;
	display:block;
	top:15px;
	right:20px;
}

.tile-create-close img {
	height:16;
	width:16px;
	position:relative;
}

.tile-create-options {
	height:50%;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	display:block;
	text-align:center;
}

.tile-create-options-wrap {
	width:50%;
	position:relative;
	display:inline-block
}

.tile-create-option {
	height:100%;
	width:33%;
	position:relative;
	float:left;
	font-size:14px;
}

.tile-create-option:hover {
	color:#EDB379;
	cursor:pointer;
}



/* ------------------------- BROWSE SEARCH POPUP ------------------------- */


.browseArea-searchPopup {
	min-height:50px;
	width:300px;
	position:absolute;
	display:none;
	background: rgba(0,0,0,0.8);

	border:1px solid #505050;
	border-radius:4px;
	z-index:10;
	right:0;
	top:50px;
}

.browseArea-searchPopup-header {
	height:30px;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:16px;
	margin-bottom:15px;
}

.browseArea-searchPopup-field:hover {
	color:#EDB379;
	cursor:pointer;
}

.browseArea-searchPopup-field.active {
	color:#EDB379;
}

.browseArea-searchPopup-input {
	width:100%;
	position:relative;
	display:none;
	text-align:center;
}

.browseArea-searchPopup-input.active {
	display:block;
}

.browseArea-searchPopup-popup-bottom {
	height:calc(30px);
	width:100%;
	position:relative;
	display:block;
}

.browseArea-searchPopup-button {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:15px;
}

.browseArea-searchPopup-button:hover {
	color:#EDB379;
	cursor:pointer;
}


/* ------------------------- UTIL AREA ------------------------- */



#utilArea {
	height:30px;
	width: calc(100% - 70px);
	position:relative;
	display:block;
	margin-right:40px;
	margin-left:30px;
	margin-bottom:20px;
}

#utilArea.active {
	height:225px;
}

.util-header {
	height: 30px;
	width:100%;
	position:relative;
	background-image:linear-gradient(#151515, #151515 8%, #222222 85%);
	border: solid 1px #303030;
}

.footer-menu-left-wrap {
	height:100%;
	position:relative;
	float:left;
	vertical-align:top;
	text-align:center;
}

.footer-right-wrap {
	height:100%;
	position:relative;
	float:right;
	vertical-align:top;
	text-align:center;
}

.footer-menu-nav-cell {
	height:100%;
	width:100px;
	position:relative;
	display:block;
	float:left;
	text-align:center;
	border-left:1px solid #050505;
	border-right:1px solid #303030;
	font-size:13px;
}

.footer-menu-nav-cell:hover, .footer-menu-nav-cell.active {
	cursor:pointer;
	background-color:#111111;
	color:#EDB379;
}

.footer-menu-nav-cell span {
	font-size:14px;
}

.footer-right-icon {
	width:60px;
	height:100%;
	position:relative;
	text-align:center;
	float:right;
}

.footer-right-icon img:hover {
	cursor:pointer;
	opacity:1;
}

.footer-right-icon img {
	opacity:0.6;
}

.footer-right-icon img.active {
	opacity:1;
}

.util-min {
	width:50px;
	float:right;
}

.util-body {
	height:calc(100% - 40px);
	width:100%;
	position:relative;
	display:none;
	border:1px solid #303030;
	border-top:1px solid #050505;
}

.util-body.active {
	display:block;
}

.util-tab {
	height:calc(100%);
	width:100%;
	position:relative;
	display:block;
	background:#0a0a0a;
}

.util-tab-body {
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

/* ------------------------- SLACK AREA ------------------------- */

.slack-chatArea {
	height:100%;
	width:calc(100% - 200px);
	position:relative;
	float:left;
	border-right:1px solid #303030;
}

.slack-chat-header {
	height:20px;
	width:100%;
	position:relative;
	display:block;
	border-bottom:1px solid #303030;
}

.slack-chat-logs {
	height:calc(100% - 20px - 40px);
	width:100%;
	position:relative;
	display:block;
	border-bottom:1px solid #303030;
}

.slack-chat-type {
	height:40px;
	width:100%;
	position:relative;
	display:block;
}

.slack-chat-type-input {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	background:black;
}

.slack-chat-type-input input {
	height:100%;
	width:100%;
	position:relative;
	border:1px solid #303030;
	background:#0a0a0a;
	color:#e5e5e5;
}

.slack-channelArea {
	height:100%;
	width:200px;
	position:relative;
	float:left;
}

.slack-channel-search {
	height:30px;
	width:100%;
	position:relative;
	display:block;
	border-bottom:1px solid #303030;
}

.slack-channel-list {
	height:calc(100% - 30px);
	width:100%;
	position:relative;
	display:block;
}

/* ------------------------- INSPECT AREA ------------------------- */

.inspect-area-header {
	height:40px;
	width:100%;
	position:relative;
	display:block;
}

.inspect-area-header-type {
	display:inline-block;
	height:100%;
	font-size:15px;
}

.inspect-area-header-market {
	display:inline-block;
	height:100%;
	font-size:14px;
}



.inspect-area {
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

.inspect-area-left {
	height:100%;
	width:40%;
	position:relative;
	float:left;
}

.inspect-area-middle {
	height:100%;
	width:30%;
	position:relative;
	float:left;
	padding-left:15px;
	padding-top:4px;
}

.inspect-area-middle-title {
	height:40px;
	width:100%;
	position:relative;
	display:block;
	font-size:14px;
}

.inspect-area-middle-body {
	height:calc(100% - 20px);
	width:100%;
	position:relative;
	display:block;
}

.inspect-area-middle-row {
	width:100%;
	position:relative;
	display:block;
	height:20px;
	border-bottom:1px solid #303030;
	margin-bottom:4px;
	margin-top:4px;
	font-size:12px;
}

.inspect-area-middle-row-left {
	width:50%;
	position:relative;
	float:left;
}

.inspect-area-middle-row-right {
	width:50%;
	position:relative;
	float:left;
	text-align:right;
}


.inspect-area-right {
	height:100%;
	width:30%;
	position:relative;
	float:right;
	border-left:1px solid #303030;
}

/* ------------------------- INSPECT MARKET AREA ------------------------- */

.inspect-area-chart {
	height:calc(100%);
	width:100%;
	position:relative;
	display:block;
}

.inspect-area-chart-wrap {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	border-right:1px solid #303030;
}

.inspect-area-orderbook {
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

.inspect-area-orderbook-top {
	height:calc(50% - 15px);
	width:100%;
	position:relative;
	display:block;
}

.inspect-area-orderbook-bottom {
	height:calc(50% - 15px);
	width:100%;
	position:relative;
	display:block;
}

.inspect-area-orderbook-middle {
	height:25px;
	width:100%;
	position:relative;
	display:block;
	border-top:1px solid #303030;
	border-bottom:1px solid #303030;
	text-align:center;
	font-size:13px;
}

.inspect-area-orderbook-order-row {
	position:relative;
	display: block;
	width:100%;
	
	margin-top:4px;
	margin-bottom:4px;
}

.inspect-area-orderbook-order-col {
	height:13px;
	line-height:13px;
	font-size: 13px;
	margin-top:4px;
	margin-bottom:4px;
	display: inline-block;
	width: 30%;
	text-align:right;
	vertical-align:middle;
}

/* ------------------------- INSPECT CANDLE AREA ------------------------- */

.inspect-candle-pair {
	font-size:16px;	
}

.inspect-area-middle-title-left {
	height:100%;
	width:50%;
	position:relative;
	float:left;
}

.inspect-area-middle-title-right {
	height:100%;
	width:50%;
	position:relative;
	float:right;
	text-align:right;
}


.inspect-candle-left {
	height:100%;
	width:30%;
	position:relative;
	float:left;
}


.inspect-candle-stick-wrap {
	height:calc(100% - 20px);
	margin-top:10px;
	width:100%;
	position:relative;
	display:block;
}

.inspect-candle-stick {
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

.inspect-candle-right {
	height:100%;
	width:40%;
	position:relative;
	float:right;
	border-left:1px solid #303030;
}

.inspect-candle-trades {
	height:100%;
	width:100%;
	position:relative;
	display:block;
}

.inspect-candle-trades-top {
	height:calc(30px);
	width:100%;
	position:relative;
	display:block;
	font-size:14px;
}

.inspect-candle-trades-body {
	height:calc(100% - 30px);
	width:100%;
	position:relative;
	display:block;
}

.inspect-candle-trades-body table {
	width:100%;
	border-collapse: collapse;

}

.inspect-candle-trades-body table th {
	text-align:left;
	font-size:13px;
}

.inspect-candle-trades-body table td {
	text-align:left;
	font-size:13px;
}


/* ------------------------- CURRENT MARKET AREA ------------------------- */


.currentMarketPanel {
	height:calc(100% - 5px);
	width:720px;
	position:relative;
	display: inline-block;
	float:right;
	/*border-left: 1px solid #303030;
	border-right: 1px solid #303030;*/
	/*background:#191919;*/
	/*background-image: linear-gradient(#010101, #111111 50%, #050505 85%);*/

	background-color:black;
	margin-top:5px;
}

.currentMarketPanel-inner {
	height:100%;
	width:100;
	position:relative;
	display:block;
}

.cm-header {
	height:calc(40px);
	width:100%;
	position:relative;
	border:1px solid #303030;
	border-radius:0px;
	background-image:linear-gradient(#151515, #222222 8%, #121212 85%);
	background-image:linear-gradient(#151515, #222222 8%, #151515 85%);

}

.cm-header-middle {
	width:100%;
	height:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:19px;
}

.cm-header-middle-title {
	height:100%;
	position:absolute;
	display:block;
	float:left;
	left: 50%;
	top: calc(50%);
	transform: translateX(-50%) translateY(-50%);
}

.cm-header-middle-icons {
	width:130px;
	height:100%;
	position:relative;
	float:right;
	text-align:center;
	padding-left:20px;
}

.cm-header-middle-ico {
	width:calc(50%);
	height:100%;
	position:relative;
	display:inline-block;
	float:left;
}

.cm-header-middle-ico:hover {
	cursor:pointer;
}

.cm-header-middle-ico img {
	height:24px;
	width:24px;
}

.cm-body {
	height:calc(100% - 40px - 15px);
	width:100%;
	position:relative;
	display:block;
	padding-top:20px;
	padding-bottom:20px;
}


/* ------------------------- CURRENT MARKET INFO ------------------------- */


.cm-info {
	height:calc(35% - 20px - 15px - 6px);
	width:calc(100%);
	position:relative;
	/*margin-right:30px;
	margin-left:30px;*/
	margin-top:6px;
	border:1px solid #303030;
	border-radius:0px;
}

.cm-info-minimized {
	height:30px;
}

.cm-info-inner {
	height:100%;
	width:100%;
	display:block;
	position:relative;
}

.cm-info-header {
	height:30px;
	width:100%;
	display:block;
	position:relative;
	border-bottom:1px solid #303030;
	background-image:linear-gradient(#151515, #222222 8%, #151515 85%);
}

.cm-info-header-menu {
	height:100%;
	width:50%;
	float:left;
}

.cm-info-header-menu-cell {
	width:29%;
	height:100%;
	position:relative;
	display:inline-block;
	text-align:center;
	float:left;
	border-left:1px solid #050505;
	border-right:1px solid #303030;
}

.cm-info-header-menu-cell.active {
	color:#EDB379;
	background-color:#0a0a0a;
}

.cm-info-header-menu-cell:hover {
	background-color:#0a0a0a;
	cursor:pointer;
}

.cm-info-header-menu-cell span {
	font-size:14px;
	/*text-shadow: white 0px 1px 1px;*/
}

.cm-info-header-menu-min {
	width:50px;
	height:100%;
	position:relative;
	display:inline-block;
	text-align:center;
	float:right;
}

.cm-info-header-menu-min:hover {
	cursor:pointer;
}

.cm-info-body {
	height:calc(100% - 35px);
	width:calc(100%);
	position:relative;
	display:none;
}

.cm-info-body.active {
	display:block;
}

.cm-info-tab {
	height:calc(100%);
	width: calc(100%);
	position:relative;
	display: none;
	background:#0a0a0a;
}

.cm-info-tab.active {
	display: block;
}


/* ------------------------- CURRENT MARKET INFO CHART ------------------------- */


.cm-chart-header {
	height: 30px;
	overflow: visible;
	background-color:#0a0a0a;
	border-bottom: solid 1px #303030;
	border-top:1px solid #050505;
}

.dropdown-chart {
	display:inline-block;
	width: 100px;
	text-align: center;
	vertical-align:middle;
	height:100%;
	background-color:black;
	float:left;
}

.dropdown-title-cm {
	background-color:#0a0a0a;
	font-size:13px !important;
}

.dropdown-title.active {
	border:1px solid #303030;
	border-bottom:none;
	z-index:100;
}

.horizontal-list-wrap.no-marg {
	margin-left:10px !important;
}

.cm-chart-body {
	height:calc(100% - 30px);
	width:100%;
	position:relative;
	display:block;
	background-color:#0a0a0a;
	border-top:1px solid #050505;
}

#chartArea {
	height:100%;
	width:calc(100%);
	/*cursor:none;*/
	display:inline-block;
	position:relative;
}

.horiz-list-cm {
	padding-right:20px;
	padding-left:20px;
	margin-left:0px;
	margin-right:0px;
	font-size:13px;
}

.horiz-list-title {
	height:100%;
	float:left;
}


/* ------------------------- CURRENT MARKET INFO OPENORDERS ------------------------- */


.cm-open-orders-wrap {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	padding-top:6px;
	padding-left:5px;
}

.cm-open-orders-top {
	height:50%;
	width:100%;
	position:relative;
	display:block;
}

.cm-open-orders-bottom {
	height:50%;
	width:100%;
	position:relative;
	display:block;
}

.cm-open-orders-header {
	height:30px;
	width:100%;
	position:relative;
	display:block;
}

.cm-open-orders-header-left {
	height:100%;
	position:relative;
	float:left;
}

.cm-open-orders-header-title {
	font-size:14px;
	display:inline-block;
}

.cm-open-orders-table-wrap {
	height:calc(100% - 30px);
	width:100%;
	position:relative;
	display:block;
	padding-top:7px;
}

.cm-open-orders-table-wrap table {
	width:100%;
	border-collapse: collapse;
}

.cm-open-orders-table-wrap table th {
	text-align:left;
	font-size:13px;
}

.cm-open-orders-table-wrap table td {
	text-align:left;
	font-size:13px;
}

.cancel-hover {
	background: rgba(50, 157, 220, 0.4);
	cursor:pointer;
}

/* ------------------------- CURRENT MARKET ORDERBOOK HEAD ------------------------- */

.cm-orderbook-header {
	width: 100%;
	height: 30px;
	position:relative;
	display:block;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	margin-top:6px;
	background-image:linear-gradient(#151515, #222222 8%, #151515 85%);
	border:1px solid #303030;
}

.cm-orderbook-header-icons {
	height:100%;
	width:100px;
	position:absolute;
	float:left;
	z-index:3;
}

.cm-orderbook-header-icons-label {
	height:100%;
	width:30px;
	position:relative;
	float:left;
	text-align:center;
	margin-right:10px;
}

.cm-orderbook-header-icons-label:hover {
	cursor:pointer;
}

.cm-orderbook-header-icons-label-img {
	height:20px;
	width:20px;
	position:relative;
	display:inline-block;
}

.cm-orderbook-header-icons-filter {
	height:100%;
	width:30px;
	position:relative;
	float:left;
	text-align:center;
}

.cm-orderbook-header-icons-filter:hover {
	cursor:pointer;
}

.cm-orderbook-header-icons-filter-img {
	height:16px;
	width:16px;
	position:relative;
	display:inline-block;
}

.cm-orderbook-header-title {
	height:100%;
	position:absolute;
	display:block;
	font-size:15px;
	left:50%;
	transform: translateX(-50%);
}

.cm-orderbook-header-status {
	height:100%;
	position:relative;
	float:right;
	font-size:13px;
}

/* ------------------------- CURRENT MARKET ORDERBOOK ------------------------- */

.orderbook-orderbox-wrap {
	height:calc(65%  - 20px - 6px - 15px - 20px + 5px);
	position:relative;
	width:50%;
	float:left;
	margin-bottom:20px;
}

.orderbook-orderbox-wrap.full {
	height:calc(100% - 40px - 30px - 30px - 10px - 20px + 3px);
	position:relative;
	width:50%;
	float:left;
}

.cm-orderbook {
	height:calc(100% - 36px);
	width:100%;
	display:block;
	margin-bottom:6px;
	border-bottom:1px solid #303030;
}

.cm-orderbook.orderbookMin {
	height:calc(100% - 220px - 30px);
}

.cm-buybook {
	border-left:1px solid #303030;
	border-right:1px solid #303030;

}

.cm-sellbook {
	border-right:1px solid #303030;
	float:right;
}

.cm-orderbook-header-sub {
	width: 100%;
	height: 25px;
	position:relative;
	display:block;
	text-align:center;
	background:#0a0a0a;
	border-bottom: solid 1px #222222;
}

.cm-orderbook-header-sub-inner {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:14px;
}

.cm-orderbook-labels {
	height:25px;
	position:relative;
	width:100%;
	padding-right:10px;
	padding-left:10px;
	text-align:center;
	border-bottom: solid 1px #222222;
	background:#0a0a0a;
}

.bookname {
	height:calc(100% - 25px - 25px);
	width:100%;
	display:block;
	position:relative;
	background:#0a0a0a;
}


#sellBook > .twrap, #buyBook > .twrap {
	position:absolute;
	width:100%;
	padding-right:10px;
	padding-left:10px;
	padding-top:7px;
	padding-bottom:7px;
}

.labels-row {
	position:relative;
	display: block;
	width:100%;
	padding-top:5px;
}

.labels-col  {
	width:30%;
	display:inline-block;
	font-size: .9rem;
	color:#329ddc;
}

.order-row {
	width:100%;
	position:relative;
	display: block;
	margin-top:4px;
	margin-bottom:4px;

	-webkit-transition: all 800ms ease-out;
    -moz-transition: all 800ms ease-out;
    -o-transition: all 800ms ease-out;
    -ms-transition: all 800ms ease-out;
    transition: all 800ms ease-out;	
}

.order-col {
	height:15px;
	width: 30%;
	display: inline-block;
	margin-top:4px;
	margin-bottom:4px;
	vertical-align:middle;
	text-align:right;
	line-height:15px;
	font-size: 15px;
	
	color:#e5e5e5;
	color:inherit !important;
}

/*.order-col:first-child , .labels-col:first-child {
	margin-right:8px;
}*/

#sellBook > .twrap  > .order-row:hover > .order-col, #buyBook > .twrap  > .order-row:hover > .order-col {
	cursor:pointer;
	color:#EDB379 !important;
}

#sellBook > .twrap > .order-row.newrow, #buyBook > .twrap > .order-row.newrow {

}

#sellBook > .twrap > .order-row.newrow > .order-col {
	/*background-color:#333;*/
	color: rgb(255,0,0) !important;
}

#buyBook > .twrap > .order-row.newrow > .order-col {
	/*background-color:#333;*/
	color:rgb(0,210,0) !important;
}

#sellBook > .twrap > .order-row.own-order, #buyBook > .twrap > .order-row.own-order {
	background-color:rgba(255, 255, 255, 0.1);
}

/*#sellBook > .twrap  > .order-row.closed, #buyBook > .twrap  > .order-row.closed {
	background-color:blue;
}*/

.empty-orderbook {
	height: calc(100% - 50px);
	width:100%;
	position:absolute;
	display:none;
	z-index:1;
	float:left;
	vertical-align:middle;
	cursor:default;
}

.empty-orderbook span {
	text-align:center;
	display:block;
	font-size:1rem;
	top:50%;
	position:relative;
}


/* ------------------------- ORDERBOOK LABEL POPUP ------------------------- */


/*.temp_label_style {
	color:initial; 
	background-color:initial; 
}*/

.orderbook-label-color-box-wrap {
	position:absolute;
	width:300px;
}
.orderbook-label-color-box {
	background:transparent;
	border:none;
	width:300px;
	display:none;
	position:absolute !important;
	left:160px;
	transform:translateY(-50%);
}

.orderbook-label-color-box.lower {
	transform:translateY(-76%);
}

.orderbook-label-color-box .sp-picker-container {
	border:none !important;
}

.orderbook-label-color-box.active {
	display:block;
}

.orderbook-label-color-replacer {
	display:none;
}

.orderbook-label-color-replacer.active {
	display:none;
}

.orderbook-label-color-input {
	display:none;
}

.orderbook-label-popup {
	width:450px;
	position:absolute;
	display:none;
	background: rgba(0,0,0,0.8);
	left:-340px;
	border:1px solid #505050;
	border-radius:4px;
	z-index:300;
	padding-bottom:10px;
	cursor:default !important;
}

.orderbook-label-popup-header {
	height:30px;
	width:100%;
	display:block;
	position:relative;
	font-size:15px;
	border-bottom:1px solid #505050;
}

.orderbook-label-popup-header-cell {
	height:100%;
	float:left;
	padding-left:20px;
}

.cm-orderbook-label-popup-close {
	position:absolute;
	display:block;
	top:5px;
	right:10px;
}

.cm-orderbook-label-popup-close img {
	height:16px;
	width:16px;
	position:relative;
}

.orderbook-label-popup-main {
	height:calc(100% - 30px);
	width:100%;
	position:relative;
	display:block;
	padding:10px;
}

/* ------------------------- ORDERBOOK LABEL POPUP LEFT ------------------------- */

.orderbook-label-popup-left {
	width:40%;
	display:inline-block;
	float:left;
	position:relative;
	padding-left:10px;
	padding-right:10px;
}

.label-left-overlay {
	height:100%;
	width:calc(100% - 20px);
	display:none;
	position:absolute;
	z-index:99999;
	vertical-align:middle;
	background-color: rgba(0,0,0,0.8);
}

.label-left-overlay.active {
	display:block;
}

.label-left-overlay-title {
	text-align:center;
	display:block;
	font-size:1rem;
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}

.label-example-row {
	position:relative;
	text-align:center;
	font-size:14px;
	height:20px;
}

.label-example {
	text-align:center;
	font-size:14px;
}

.orderbook-label-popup-row {
	width:100%;
	position:relative;
	display:block;
	padding-bottom:10px;
}

.orderbook-label-row-title {
	width:100%;
	position:relative;
	display:block;
	margin-bottom:7px;
	font-size:14px;
}

.orderbook-label-row-input {
	width:100%;
	position:relative;
	display:block;
}

.orderbook-label-conf {
	padding-top:5px;
}

.orderbook-label-popup-left-bottom {
	width:100%;
	display:block;
	position:relative;
	text-align:center;
}

.orderbook-label-popup-confirm-wrap {
	display:inline-block;
	position:relative;
	font-size:14px;
	border:1px solid #303030;
}

.orderbook-label-popup-confirm-wrap:hover {
	cursor:pointer;
	color:#EDB379;
}

/* ------------------------- ORDER BOOK LABEL POPUP RIGHT ------------------------- */

.orderbook-label-popup-right {
	width:60%;
	display:inline-block;
	float:left;
	position:relative;
}

.orderbook-label-popup-all-header {
	height:25px;
	width:100%;
	position:relative;
	display:block;
	font-size:13px;
}

.orderbook-label-popup-all-header-right {
	height:100%;
	position:relative;
	float:right;
	padding-right:10px;
}

.orderbook-label-popup-all-header-cell {
	height:100%;
	position:relative;
	float:right;
	padding-left:7px;
}

.orderbook-label-popup-all-header-cell:hover {
	color:#EDB379;
	cursor:pointer;
}

.orderbook-label-popup-all-header-cell.active {
	color:#EDB379;
}

.orderbook-label-popup-table {
	width:100%;
	max-height:190px;
	position:relative;
	display:block;
	padding-right:10px;
}

.orderbook-label-popup-all-row {
	width:100%;
	position:relative;
	display:block;
	font-size:12px;
	height:15px;
	margin-top:3px;
	margin-bottom:3px;
}

.orderbook-label-popup-all-row.active .label-popup-all-name{
	background:rgba(50, 157, 220, 0.6);
}

.label-popup-all-name {
	float:left;
	position:relative;
	padding-left:10px;
	height:100%;
	width:calc(100% - 30px);
}

.label-popup-all-name:hover {
	background:rgba(50, 157, 220, 0.6);
	cursor:pointer;
}

.labelHover {
	background:rgba(50, 157, 220, 0.6);
	cursor:pointer;
}

.label-popup-all-vis {
	height:100%;
	width:30px;
	float:right;
	position:relative;
	opacity:0.5;
	z-index:10;
	text-align:center;
}

.label-popup-all-vis:hover {
	cursor:pointer;
	opacity:1;
}

.label-popup-all-vis.active {
	opacity:1;
}

.label-popup-all-vis img {
	float:right;
	height:20px;
	width:20px;
}


/* ------------------------- CURRENT MARKET ORDERBOX  ------------------------- */


.cm-orderbox-exchange-popup {
	height:80px;
	width:100px;
	position:absolute;
	display:none;
	top:-80px;
	left:5px;
	background: rgba(0,0,0,0.8);
	border:1px solid #505050;
	border-radius:4px;
	z-index:300;
	padding-bottom:10px;
}

.cm-orderbox-exchange-popup.active {
	display:block;
}

.cm-orderbox-exchange-popup-body {
	height:calc(100% - 40px);
	width:100%;
	position:relative;
	display:block;
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.cm-orderbox-exchange-popup-listWrap {
	height:100%;
	width:100%;
	position:relative;
	text-align:left;
	display:block;
	/*border-top:1px solid #303030;
	border-bottom:1px solid #303030;*/

}

.cm-orderbox-exchange-popup-row {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:13px;
}

.cm-orderbox-exchange-popup-row:hover {
	background: rgba(255,255,255,0.2);
	cursor:pointer;
}

.cm-orderbox-config-trig:hover {
	cursor:pointer;
}

.cm-orderbox-config-popup {
	height:200px;
	width:350px;
	position:absolute;
	display:none;
	top:5px;
	left:5px;
	background: rgba(0,0,0,0.8);
	border:1px solid #505050;
	border-radius:4px;
	z-index:300;
	padding-bottom:10px;
}

.cm-orderbox-config-popup.active {
	display:block;
}

.cm-orderbox-config-popup-header {
	height:30px;
	width:100%;
	display:block;
	position:relative;
	font-size:15px;
	border-bottom:1px solid #505050;
}

.cm-orderbox-config-popup-header-cell {
	height:100%;
	float:left;
	padding-left:20px;
}

.cm-orderbox-config-popup-close {
	position:absolute;
	display:block;
	top:5px;
	right:10px;
}

.cm-orderbox-config-popup-close img {
	height:16px;
	width:16px;
	position:relative;
}

.cm-orderbox-config-popup-main {
	height:calc(100% - 30px);
	width:100%;
	position:relative;
	display:block;
	padding-top:10px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:20px;
}

.cm-orderbox-config-popup-row {
	height:20px;
	width:100%;
	position:relative;
	display:block;
	margin-top:10px;
}

.cm-orderbox-config-popup-row-label {
	height:100%;
	position:relative;
	float:left;
	font-size:12px;
}

.cm-orderbox-config-popup-row-input {
	height:100%;
	position:relative;
	float:right;
	padding-top:3px;
	padding-bottom:3px;
}

.cm-orderbox-config-popup-row-input input {
	height:100%;
	position:relative;
	background-color:#e5e5e5;
	color:black;
	text-align:right;
	padding-right:3px;
}

.cm-orderbox-config-popup-minperc {
	width:40px;
}

.cm-orderbox-config-popup-duration {
	width:40px;
}

.cm-orderbox-config-popup-footer {

}

.cm-orderbox-config-popup-confirm {
	height:30px;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:14px;
}

.cm-orderbox-config-popup-confirm-trig:hover {
	color:#EDB379;
	cursor:pointer;
}


.cm-orderbox {
	height: 30px;
	width: calc(100% - 2px);
	position:relative;
	display:block;
    background: #0a0a0a;
}

.cm-orderbox.active {
	height:240px;
}

.cm-orderbox-sell {
	margin-left:2px;
	float:right;
}

.cm-orderbox-buy {
	margin-right:2px;
}


.cm-orderbox-header {
	height:30px;
	width:100%;
	position:relative;
	border:1px solid #303030;
	background-image:linear-gradient(#151515, #222222 8%, #151515 85%);
}

.cm-orderbox-header-title {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}

.cm-orderbox-body {
	height:calc(100% - 30px);
	width:100%;
	position:relative;
	display:none;
	border:1px solid #303030;
	border-top:1px solid #050505;
}

.cm-orderbox-body.active {
	display:block;
}

.cm-orderbox-header-sub {
	height:40px;
	width:100%;
	position:relative;
	padding-left:20px;
	padding-right:20px;
}

.cm-orderbox-config {
	height:100%;
	position:relative;
	float:left;
}

.cm-orderbox-exchange {
	height:100%;
	position:relative;
	float:left;
	font-size:14px;
	color:#329ddc;
	text-decoration:underline;
}

.cm-orderbox-exchange-trig:hover {
	cursor:pointer;
}

.cm-orderbox-exchange-config {
	height:100%;
	position:relative;
	float:left;
	padding-left:8px;
}

.cm-orderbox-exchange-config img {
	height:16px;
	width:14px;
}

.cm-orderbox-bal {
	height:100%;
	position:relative;
	float:right;
	font-size:13px;
}

.bal-val {
	color:#329ddc;
}

.cm-orderbox-body.active {
	display:block;
}

.cm-orderbox-inputArea {
	height:105px;
	width:100%;
	position:relative;
	margin-top:10px;
}

.cm-orderbox-inputArea form {
	height:100%;
	width:100%;
	position:relative;
}

.order-form-col {
	height:100%;
	width:100%;
	position:relative;
}

.order-form-row {
	height:25px;
	width:calc(100% - 40px);
	position:relative;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	padding-left:10px;
	border-radius:4px;
	background:#141414;
	border:1px solid #303030;
	background-image:linear-gradient(#151515, #222222 8%, #151515 85%);
	/*font-family: 'open_sanslight', Fallback, sans-serif;*/
}

.order-form-label {
	height:100%;
	width:50px;
	position:relative;
	float:left;
	color:#e5e5e5;
	font-weight:bold;
}

.order-form-label span, .order-form-refcur span {
	display:block;
	float:left;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

.order-form-input {
	height:90%;
	width:170px;
	position:relative;
	float:left;
	padding-left:5px;
	top:50%;
	transform:translateY(-50%);
}

.order-form-input input {
	width:100%;
	height:100%;
	color:#e5e5e5;
	background:#0a0a0a;
	border:1px solid #303030;
	text-align:right;
	padding-right:3px;
	border-top:none;
	border-bottom:none;
}

.order-form-refcur {
	width:80px;
	height:100%;
	position:relative;
	float:right;
	color:#e5e5e5;
	font-weight:bold;
	padding-left:6px;
}

.cm-orderbox-buttonArea {
	height:50px;
	width:100%;
	position:relative;
}

.cm-orderbox-order-button {
	width:90%;
	height: 25px;
	position:relative;
	text-decoration: none;
	left:50%;
	top:50%;
	transform:translateY(-50%) translateX(-50%);
	font-size:13px;
	text-align:center;
}

#tab_buy_button {
	color: #e5e5e5;
	background-color:#0B732C;
	border:1px solid #0d8d35;
	cursor:pointer;
}

#tab_buy_button:hover {
	background:#074A1C;
	border-color:#0B7A2E;
}

#tab_buy_button.order-button-mousedown {
	background-color:#0D5423;
	border-color:#085720;
}

#tab_sell_button {
	color: #e5e5e5;
	background-color: #DA3B26;
	border:1px solid rgba(218, 59, 38, 0.85);
	cursor:pointer;
}

#tab_sell_button:hover {
	background:#A12B1B;
}

#tab_sell_button.order-button-mousedown {
	background-color: #802216;
	border:#802216;
}


/* ------------------------- CURRENT MARKET SEARCH POPUP ------------------------- */


.cm-search-popup {
	min-height:50px;
	width:230px;
	position:absolute;
	display:none;
	background: rgba(0,0,0,0.8);

	border:1px solid #505050;
	border-radius:4px;
	z-index:200;
	right:80px;
	top:50px;
}

.cm-search-popup.active {
	display:block;
}

.cm-search-popup-header {
	height:30px;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:16px;
	margin-bottom:15px;
}

.cm-search-popup-body {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.cm-search-popup-input-wrap {
	width:100%;
	position:relative;
	text-align:center;
	display:block;
}

.cm-search-popup-row {
	width:100%;
	height:50px;
	padding-top:10px;
	padding-bottom:10px;
}

.cm-search-popup-label {
	width:100%;
	display:block;
	position:relative;
	text-align:left;
	margin-bottom:10px;
	font-size:13px;
}

.cm-search-popup-input {
	width:100%;
	position:relative;
	display:block;
	text-align:right;
}

.cm-search-popup-input input{
	width:100%;
	position:relative;
	display:inline-block;
}

.cm-search-popup-bottom {
	height:calc(30px);
	width:100%;
	position:relative;
	display:block;
	padding-top:10px;
}

.cm-search-popup-button {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:15px;
}

.cm-search-popup-button:hover {
	color:#EDB379;
	cursor:pointer;
}


/* ------------------------- CURRENT MARKET FAVS POPUP ------------------------- */


.cm-favs-popup {
	min-height:50px;
	width:200px;
	position:absolute;
	display:none;
	background: rgba(0,0,0,0.8);

	border:1px solid #505050;
	border-radius:4px;
	z-index:10;
	right:30px;
	top:50px;
}

.cm-favs-popup.active {
	display:block;
}

.cm-favs-popup-header {
	height:40px;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	border-bottom:1px solid #303030;
}

.cm-favs-popup-body {
	height:calc(100% - 40px);
	width:100%;
	position:relative;
	display:block;
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.cm-favs-popup-list-wrap {
	height:calc(100px);
	width:100%;
	position:relative;
	text-align:left;
	display:block;
	/*border-top:1px solid #303030;
	border-bottom:1px solid #303030;*/

}

.cm-favs-popup-row {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:13px;
}

.cm-favs-popup-row:hover {
	background: rgba(255,255,255,0.2);
	cursor:pointer;
}

.cm-favs-popup-bottom {
	height:calc(30px);
	width:100%;
	position:relative;
	display:block;
	margin-top:20px;
	border-top:1px solid #303030;
}

.cm-favs-popup-button {
	height:100%;
	width:100%;
	position:relative;
	display:block;
	text-align:center;
	font-size:13px;
}

.cm-favs-popup-button:hover {
	color:#EDB379;
	cursor:pointer;
}


/* ------------------------- EXTRA ------------------------- */

.template {
	display:none;
}

.order-row-expand .order-col {
	width:23%;
}

.order-col-extra {
	display:none;
}


.labels-col-expand {
	width:23%;
}

.labels-col-extra {
	display:none;
}

.extra-show{
	display:inline-block;
}

.form-group {
	clear: both;
	height: 5px;
    margin-bottom: 19px;
}

.form-group > label {
	width: 35%;
	float: left;
	font-size: 1rem;
	font-weight: 200;	
	padding-left: 4px;
}

.form-group > input {
	width: 40%;
    margin-bottom: 15px;
}


/* ------------------------- LIB OVERRIDE ------------------------- */


.always-visible.ps-container > .ps-scrollbar-x-rail, .always-visible.ps-container > .ps-scrollbar-y-rail {
	opacity: 0.6;
}

.ps-container > .ps-scrollbar-y-rail {
	-webkit-backface-visibility:hidden;
}

.tooltipster-content {
	height:0px;
	background-color:black;
}


.ui-state-hover, .ui-state-active, .ui-state-highlight, .ui-state-focus, .ui-state-default {
    background-color: rgba(200,200,200,1) !important;
    background-image: none !important;
}

.ui-autocomplete {
	z-index: 2003;
	background-image: none;
	background-color: #e5e5e5;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden; 
	font-size: 0.65rem;
}

.ui-autocomplete > li > a {
	color: black;
}

.growl {
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: relative;
	border-radius: 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out; 
}

.growl.growl-notice {
    color: black;
	background: rgba(124, 181, 236, 1);
}

.growl.growl-error {
	color: #FFF;
	background:rgba(192, 57, 43, 1);
}

.growl.growl-warning {
	color: black;
	background: #F39C12;
}


/* ------------------------- RESPONSIVENESS ------------------------- */


@media (max-width: 1340px) {

	body {
		overflow-x:visible !important;
	}
	
    #headerModalIconsWrap {
		display:none;
	}
    #headerModalIconsMinWrap {
		display:inline-block;
    }
    
    .fav-market-text-top {
        font-size: 0.65rem;
    }
    
    .fav-market-text-bottom {
        font-size: 0.7rem;
    }
    
    .fav-market-text-bottom, .fav-market-text-top{
        -webkit-transition: font-size .2s ease;
        -moz-transition: font-size .2s ease;
        -o-transition: font-size .2s ease;
        -ms-transition: font-size .2s ease;
        transition: font-size .2s ease;
    }
    
    .fav-market-ticker-area {
		display: inline-block;
		float: right;
		width: 420px;
		height: 50px;
		padding-right: 5px;
    }
}



#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  /*display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;*/
  z-index:3000;
  position:relative;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

.resize-drag {

/*
  border-radius: 8px;
  padding: 20px;
  margin: 30px 20px;*/
  box-sizing: border-box;
}

.resize-container {
  width: 100%;
  height:100%;
}


.sky-auto-wrap {
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	font-size:13px;
	top:0px;
}

.sky-auto-cell {
	width:30%;
	position:relative;
	display:inline-block;
}

.sky-cell-ex {
	text-align:right;
}


.inspectedHover {
	background:rgba(50, 157, 220, 0.6);
}

.tile-dropdown-wrap {
	width:300px;
}