
/* ------------------------- PRIMARY STYLE ------------------------- */

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box; 
}
  
* {
    padding: 0px;
    margin: 0px;
	font-smoothing: antialiased;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('fonts/opensans-light-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/opensans-light-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-size: .7rem;
    font-family: 'open_sanslight', Fallback, sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	background-color: black;
	margin: 0px; 
}

a {
	text-decoration: none; 
}

form {
	color: black;
}

/* ------------------------- GLOBAL CLASSES ------------------------- */

.clickable {
	cursor: pointer;
}

.fadeSlow {
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.text-right {
	text-align: right;
}

/* ------------------------- HEADER AREA ------------------------- */

#header {
	top: 0;
	width: 100%;
	height: 50px;
	background: black;
	overflow: hidden;
	border-bottom: inset 1px white;
/*	border-right: inset 1px white;
	border-left: inset 1px white;*/
}

#topLogoWrap {
	display: inline-block;
	float: left;
}

#topLogo {
	width: 220px;
	margin-top: 10px;
	margin-left: 10px;
}

#headerAreaIco {  /* AREA : CHARTS / LOG OUT / OPTIONS */
	display: inline-block;
	float: right;
	width: 192px;
	height: 50px;
	border-left: inset 1px white;	
}

.header-ico {
	margin-top: 10px;
	width: 28px;
	height: 28px;
	margin-left: 25px;
	opacity: .75;
}

#headerAreaIco2 {  /* AREA : MARKETS / ORDERS / PORTFOLIO */
	display: inline-block;
	float: right;
	width: 170px;
	height: 50px;
/*	border-right: thin solid red;
	border-left: thin solid green;*/
}

.header-ico2 {
	margin-top: 10px;
	width: 28px;
	height: 28px;
	margin-left: 25px;
	opacity: .75;
}


#headerAreaIco:hover, #headerAreaIco2:hover{
	cursor: pointer;	
}

.header-ico:hover, .header-ico2:hover {
	opacity: 1;	
}

#miniChartsTop {   /* AREA WITH PRICED PAIRS */
	display: inline-block;
	float: right;
	width: 430px;
	height: 50px;
	padding-right: 5px;
/*	border-right: thin solid red;
	border-left: thin solid green;	*/
}

#miniChartsTop2 {   /* AREA WITH x4 BOXED PAIRS */
	display: inline-block;
	float: right;
	width: 192px;
	height: 50px;
}

.chart-box { /* INDIVIDUAL PRICED PAIRS */
	opacity: 0.75;
	display: inline-block;
	float: left;
	width: 25%;
	height: 50px;
	/*border-left: inset 1px white;*/
}

.chart-box-2 { /* INDIVIDUAL BOXED PAIRS */
	display: inline-block;
	float: left;
	width: 50%;
	height: 50px;
	border-left: inset 1px white;	
}

.chart-sub-box { /* INDIVIDUAL BOXED PAIRS */
	float:left;
	width: 100%;
	height: 25px;
	/*background: grey;*/
	background: black;
	text-align: center;
}

.chart-sub-box-2 { /* INDIVIDUAL BOXED PAIRS */
	float: left;
	width: 100%;
	height: 24px;
	background: black;
	text-align: center;
	font-size: 0.65rem;
}

.chart-text { /* INDIVIDUAL BOXED PAIRS */
	opacity: 0.75;
	font-size: .65rem;
	margin-top: 2px;
	display: block;
	cursor: pointer;	
}

.chart-sub-box-2 span:hover, .chart-box:hover {
	opacity: 1;	
}

#mTN5A, #mTN6A { /* FIX FOR THE FADING BUG OF THE LOWER BOXES */
	border-bottom: inset 1px white;	
}

.chart-text-top { /* INDIVIDUAL PRICED PAIRS TOP */
	font-size: 0.65rem;
	margin-top: 5px;
	display: block;
	cursor: pointer;
}

.chart-text-bottom { /* INDIVIDUAL PRICED PAIRS BOTTOM */
	font-size: 0.85rem;
	margin-top: -4px;
	display: block;
	cursor: pointer;
}

.text-red {
	color: rgb(255,0,0);
}

.text-green {
	color: rgb(0,210,0);
}

/* ------------------------- MAIN CHART AREA ------------------------- */

#mainChart {
	display: inline-block;
	top: 0;
	width: calc(100vw - 401px);
	height: calc(100vh - 54px);
	background: black;
	/*border-left: inset 1px white;
	border-bottom: inset 1px white;*/
	overflow: hidden;	
}

#mainChartTop {
	height: 40px;
	border-bottom: inset 1px rgb(45,45,45);
	padding-top: 5px;
	padding-left: 5px;
	overflow: hidden;	
}	

/* ------------------------- ORDER BOOK AREA ------------------------- */

#orderBook {
	display: inline-block;
	float: right;
	width: 192px;
	height: calc(100vh - 50px);
	background: black;
	border-left: inset 1px white;
	overflow: hidden;

}

#currPair {
	float: left;
	width: 100%;
	height: 40px;
	font-size: 1.2rem;
	color: white;
	background: black;
	padding-top: 5px;
	border-bottom: inset 1px rgb(45,45,45);
}

#currPair, #currLast:hover {
	cursor: default;
}

#sellBook {
	float: left;
	width: 100%;
	height: calc(50vh - 20px - 40px - 25px);
}

#currLast {
	float: left;
	width: 100%;
	height: 40px;
	border-top: inset 1px rgb(115,115,115);
	border-bottom: inset 1px rgb(45,45,45);
	font-size: 1.2rem;
	font-weight: 600;
}

#buyBook {
	float: left;
	width: 100%;
	height: calc(50vh - 20px - 25px);
	border-bottom: inset 1px white;		
}

#sellBook, #buyBook:hover {
	cursor: pointer;
}

.order-big {
	text-align: center;
	font-size: 30px;
	padding-top: 3px;
}

.order-row {
	display: block;
	padding: 2%;
	opacity: 0.75;
	-webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    transition: all 100ms ease-out;	
}

.order-row:hover {
	opacity: 1;

}

.order-col {
	display: inline-block;
	width: 23.2%;
	font-size: .4rem;
	font-weight: 200;
}

/* ------------------------- MINICHARTS AREA ------------------------- */

#miniChartsC {
	display: inline-block;
	float: right;
	width: 192px;
	min-width: 192px !important;
	height: calc(100vh - 50px);
	/*min-height: 500px;*/
	background: black;
	border-left: inset 1px white;
	border-right: inset 1px white;
	border-bottom: inset 1px white;
	overflow: hidden;
}

/*.mini-chart {
	float: left;
	width: 100%;
	height: calc(50vh - 160px);
	border-bottom: inset 1px white;	
	overflow: hidden;
}*/

#miniCNum1, #miniCNum2, #miniCNum3, #miniCNum4  {
	width: 100%;
	height: calc(25vh - 40px);
	border-bottom: inset 1px white;	
	overflow: hidden;	
}

.mini-chart-area-1 {
	padding: 4px;
	font-size: 0.65rem;
	float: left;
	width: 50%;
	height: 25px;
	margin-top: -2px;
	background: black;
}

.mini-chart-area-2 {
	padding: 4px;
	font-size: 0.65rem;
	text-align: right;
	float: left;
	width: 50%;
	height: 25px;
	margin-top: -2px;	
	background: black;
}
	
.mini-chart-area-3 {
	font-size: 0.85rem;
	text-align: center;
	float:left;
	width: 100%;
	height: 30px;
	margin-top: -4px;
	background: black;
} 

.mini-chart-area-4 {
	float: left;
	padding-left: 4px;
	width: 100%;
	height: 57px;
	margin-top: -8px;
	background: black;
} 

/* ------------------------- ORDER BOX ------------------------- */

#orderBox {
	float: left;
	width: 100%;
	height: 150px;
	border-bottom: inset 1px white;
	overflow: hidden;
}


.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs {
	width: 100%;
	float: none;
	list-style: none;
	position: relative;
	/*height: 116px;*/
    height: 100%;
}

.tabs li{
	width: 50%;
	float: left;
	text-align: center;
}

.tabs label {
	display: block;
	cursor: pointer;
	position: relative;
	height: 20px;
	font-size: 0.65rem;
	font-weight: 400;
}
      
.tabs label:hover {
	background: rgba(255,255,255,0.5);
}
       
[id^=tab]:checked + label {
    width: 100%;
	background: white;
    color: black;
	border-bottom: solid 1px white;
}
       
[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
      
.tab-content{
	left: 0;
	z-index: 2;
	display: none;
	width: 100%;
	float: left;
	text-align: left;
	/*padding-top: 4px;*/
	/*padding-left: 4px;*/
	/*height: 90px;*/
    height: 100%;
	position: absolute;
	background: white;
	border-top: solid 1px white;
}

#balanceBuy, #balanceSell {
    width: 100%;
    background: rgb(200,200,200);
    color: black;
    font-size: 1rem;
    padding: 3px 5px;
    margin-bottom: 5px;
}

.bal-value {
    float: right;
}

.bal-dec {
    font-size: 60%;
}

#tabBuyPrice, #tabSellPrice, #tabBuyAmount, #tabSellAmount, #tabBuyTotal, #tabSellTotal, #tabBuyFee, #tabSellFee {
	float:left;
	width: 80%;
	height: 22px;
}

#tabBuyPriceLab, #tabBuyAmountLab, #tabBuyTotalLab, #tabBuyFeeLab, #tabSellPriceLab, #tabSellAmountLab, #tabSellTotalLab, #tabSellFeeLab {
	float: left;
	display: inline-block;
	width: 50%;
	color: black;
	font-size: 0.8rem;
	font-weight: 200;
	padding-left: 2px;
	cursor: default; 	
}

#tabBuyPriceBox, #tabBuyAmountBox, #tabBuyTotalBox, #tabBuyFeeBox, #tabSellPriceBox, #tabSellAmountBox, #tabSellTotalBox, #tabSellFeeBox {
	float: right;
	display: inline-block;
	width: 50%;
	font-size: 0.9rem;
	font-weight: 200;
	padding-left: 5px; 	
}

#placeBidPrice, #placeBidAmount {
	font-family: 'open_sanslight', Fallback, sans-serif;
	font-weight: 600;
	color: black;	
}
	
#placeBidFee, #placeBidTotal {
	background: rgb(240,240,240);
	border: none;
	color: grey;
}

.order-input {
	width: 100%;
}

.order-input:disabled {
	background-color: white;
	border: 0;
}

.order-button {
	position: absolute;
	top: 32px;
    bottom: 22px;
	right: 5px;
	width: 20%;
    padding: 4px 2px 0x 2px;
}

.order-button:hover {
	cursor: pointer;
}

.order-button > button {
	width: 100%;
    height: 100%;
}

.form-group {
	clear: both;
	height: 5px;
    margin-bottom: 19px;
}

.form-group > label {
	width: 35%;
	float: left;
	font-size: 1rem;
	font-weight: 200;	
	padding-left: 4px;
}

.form-group > input {
	width: 40%;
    margin-bottom: 15px;
}

/* ------------------------- TABS - GENERIC ------------------------- */

.tabs-nav {
    padding: 0;
    width: 100%;
    border-bottom: solid 1px;
    height: 30px;
}

.tabs-nav .nav {
    width: 20%;
    height: 30px;
    float: left;
    border: solid 1px;
    padding: 5px 8px;
    cursor: pointer;
    background: #e0e0e0;
}

.tabs-nav .nav.active {
    cursor: auto;
    background: transparent;
}

.tabs-container {
	height: 95%;
    border: solid 1px;
    padding: 20px;
}

.tabs-container > div {
    display: none;
}

.tabs-container > div.active {
    display: block;
}


/* ------------------------- TABLES - GENERIC ------------------------- */

.table {
    width: 100%;
	border-collapse: collapse;
	overflow: auto;
}

.nav {
	font-size:.85rem;
	text-transform: uppercase;
	cursor: pointer;
}

.nav p {
	margin-top: -3px;
	color: black;
}

tbody tr:nth-child(odd) {
   background-color: rgb(240,240,240);
}

.table th, .table td {
    font-family: 'open_sanslight', Fallback, sans-serif;
	border: solid 1px rgb(220,220,220);
	color: black;
}

.table th {	
	font-size: .75rem;
	height: 30px;
	font-weight: 200;
	text-transform: uppercase;
	cursor: default;
	background: black;
	color: white;
}

.table tbody tr:hover {
	cursor: pointer;
	background: rgb(240,230,210);
}


.table td {
	padding-left: 5px;
	font-size: .75rem;
}


.table-footer {
	position: absolute;
	bottom: 25px;
	left: 35px;
    right: 35px;
}

.table-button {
	float: left;
	padding: 5px 7px;
	margin-right: 10px;
}

.table-searchbox {
    width:150px;
	height: 35px;
	padding: 3px 5px;
	font-family: 'open_sanslight', Fallback, sans-serif;
	font-weight: 200;
	font-size: 0.65rem;
}

.pagination {
	float: right;
}

.pagination button {
	float:left;
	padding: 5px 7px;
}

/* ------------------------- CHARTS PANEL ------------------------- */

.chart-panel-title img {
    width: 100%;
}

.chart-panel-content {
    height: 94.5%;
}

.chart-panel-left {
    border: solid 1px;
    float: left;
    width: 50%;
    height: 100%;
    padding-right: 3px;
}

.chart-panel-left img {
    width: 100%;
}

.chart-panel-left-3-1 {
    float: left;
    width: 30%;
}

.chart-panel-left-3-2 {
    float: right;
    width: 66.4%;
}

.chart-panel-right {
    float: right;
    width: 50%;
    height: 100%;
    padding-left: 3px;
}

.chart-panel-pair {
    width: 100%;
    height: calc(7.5% - 1px);
    margin-bottom: 1%;
}

.chart-panel-number {
    float: left;
    width: 25%;
    height: 100%;
    padding: 5px;
    font-size: 3.4vh;
    text-align: center;
    background: #B8B8B8;
    color: white;
    cursor: pointer;
}

.chart-panel-input {
    float: right;
    width: 75%;
    height: 100%;
}

.chart-panel-input input {
    border: solid 1px #B8B8B8;
    width: 100%;
    height: 50%;
	font-family: 'open_sanslight', Fallback, sans-serif;
	color: rgb(0,0,0);
	padding-left: 5px;
}

.chart-number {
    display: none;
    position: absolute;
    z-index: 2000;
    font-size: 7vh;
    font-weight: bold;
}

.chart-number.show {
    display: inline;
    top: 0;
}

.chart-number.show[chart-number="1"] {
    right: 750px;
    font-size: 35px;
}

.chart-number.show[chart-number="2"] {
    right: 650px;
    font-size: 35px;
}

.chart-number.show[chart-number="3"] {
    right: 540px;
    font-size: 35px;
}

.chart-number.show[chart-number="4"] {
    right: 430px;
    font-size: 35px;
}

.chart-number.show[chart-number="5"] {
    right: 330px;
    font-size: 18px;
}

.chart-number.show[chart-number="6"] {
    right: 230px;
    font-size: 18px;
}

.chart-number.show[chart-number="7"] {
    top: 25px;
    right: 330px;
    font-size: 18px;
}

.chart-number.show[chart-number="8"] {
    top: 25px;
    right: 230px;
    font-size: 18px;
}

.chart-number.show[chart-number="9"] {
    top: calc((100% - 50px) * 15/100);
    right: 80px;
}

.chart-number.show[chart-number="10"] {
    top: calc((100% - 50px) * 34/100);
    right: 70px;
}

.chart-number.show[chart-number="11"] {
    top: calc((100% - 50px) * 70/100);
    right: 70px;
}

.chart-number.show[chart-number="12"] {
    top: calc((100% - 50px) * 90/100);
    right: 70px;
}

#curr-list {
	font-family: 'open_sanslight', Fallback, sans-serif;
}

/* ------------------------- OPTION PANEL ------------------------- */

.option-panel-title img {
    width: 100%;
    margin-bottom: 10px;
}

.option-row {
    height: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.option-label {
    background: rgba(200,200,200,1);
    color: rgba(255,255,255,1);
    height: 20px;
    float: left;
    width: 50%;
    padding: 2px;
}

.option-input {
    height: 20px;
    float: right;
    width: 50%;
}

/* ------------------------- TEMPORARY !! ------------------------- */

#tabs-2 h1, #tabs-6 h1, #modal-03 h1 {
	font-family: 'open_sanslight', Fallback, sans-serif;
	font-size: 1rem;
	color: black;
	margin-top: 20%;
}

#modal-05 h1 {
	font-family: 'open_sanslight', Fallback, sans-serif;
	font-size: 1rem;
	color: black;
}

#tabs-2 p, #tabs-6 p, #modal-03 p, #modal-05 p {
	color: black;
}

/* ------------------------- RESPONSIVENESS ------------------------- */

@media (max-width: 1230px) {
    #headerAreaIco2 {
        position: absolute;
        left: 0;
        top: 50px;
        width: calc(100vw - 401px);
        height: 41px;
        border-bottom: inset 1px rgb(45,45,45);
    }
    
    .header-ico2 {
        width: 25px;
        height: 25px;
        margin-left: 13px;
        margin-top: 7px;
    }
}

@media (max-width: 1080px) { /* EXPERIMENTAL */

    .chart-text-top {
        font-size: 0.6rem;
    }
    
    .chart-text-bottom {
        font-size: 0.65rem;
    }
    
    .chart-text-bottom, .chart-text-top{
        -webkit-transition: font-size .2s ease;
        -moz-transition: font-size .2s ease;
        -o-transition: font-size .2s ease;
        -ms-transition: font-size .2s ease;
        transition: font-size .2s ease;
    }
    
    #miniChartsTop {
        width: 330px;
        margin-top: 2px;
    }
    
    #miniTopNum1, #miniTopNum2, #miniTopNum3, #miniTopNum4 {
        margin: 0;
    }
    
    .chart-number.show[chart-number="1"] {
        right: 660px;
    }
    
    .chart-number.show[chart-number="2"] {
        right: 580px;
    }
    
    .chart-number.show[chart-number="3"] {
        right: 500px;
    }
    
    .chart-number.show[chart-number="4"] {
        right: 420px;
    }
}

@media (max-width: 975px) {
    #mainChart {
        width: 60%;
    }
    
    #headerAreaIco2 {
        width: 575px;
    }
}


#sellBook, #buyBook {
	margin-left:60px;
}

#sellBook > table > tbody > tr, #buyBook > table > tbody > tr {
	background-color:transparent;
}

#sellBook > table > tbody > tr > td, #buyBook > table > tbody > tr > td {
	color:#D8D8D8;
}

#sellBook > table > tbody > tr.newrow, #buyBook > table > tbody > tr.newrow {
	background-color:#333;
}

#sellBook > table > tbody > tr.closed, #buyBook > table > tbody > tr.closed {
	background-color:blue;
}

#sellBook > table > tbody > tr.virtual > td, #buyBook > table > tbody > tr.virtual >td {
	color:#6E6E6E;
}

.table td {
  border-right:solid 20px transparent;
}

.table th {
  border-right:solid 20px transparent;
  text-align: left;
}


.stepButton  button {
	height:20px;
	color:silver;
	background-color:black;
	border-style:solid;
	border-width: 1px;
	padding:3px;
	margin-left:5px;
	border-color: #8F8F8F;
}

.stepButton  button:hover, .stepButton > button:active {
	background-color:#424242 !important;
}

