
.md-modal {
	position: absolute;
    height:calc(50%);
	width: calc(60%);
	z-index: 2000;
	
	display:inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: #3A545E;
	background: rgba(0,0,0,0.9);
	
	left: 50%;
	top: 50%;
	transform:  translateX(-50%) translateY(-50%);

	
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	/*-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);*/
}


.md-modal-3 {
	position: absolute;
    height:300px;
	width: calc(100%);
	display:inline-block;

	z-index: 2000;
	
	border-width: 1px;
	border-style: solid;
	border-color: #3A545E;
	background: rgba(0,0,0,0.9);
	
	/*left: 50%;
	top: calc(50%);
	transform:  translateX(-50%) translateY(-50%);*/
	
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.md-content-inner {
	overflow: auto;
}

.md-show {
	visibility: visible;
}

.md-overlay {
    overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1950;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.md-show:not(.md-full) ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Modal Content styles */
.md-content {
	color: rgba(150,150,150,1); /* superNET grey */
	position: relative;
	height: 100%;
	margin: 0 auto;
    padding: 5px;
}

.md-content h3 {
	margin: 0 0 10px 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	color: white;
	background: rgba(240,130,50,1); /* superNET orange */
	/*border-radius: 3px 3px 0 0;*/
}



.md-head, .md-head-mail {
	width: 100%;
}

.md-effect .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	transform-origin: 0 100%;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.md-show.md-effect .md-content {
	-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	transform: translateZ(0px) translateX(0%) rotateY(0deg);
	opacity: 1;
}

.md-effect-2 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(100px) translateX(260%) rotateY(90deg);
	-moz-transform: translateZ(100px) translateX(260%) rotateY(90deg);
	-ms-transform: translateZ(100px) translateX(260%) rotateY(90deg);
	transform: translateZ(100px) translateX(260%) rotateY(90deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	transform-origin: 0 100%;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.md-show.md-effect-2 .md-content {
	-webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	-ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
	transform: translateZ(0px) translateX(0%) rotateY(0deg);
	opacity: 1;
}

@-webkit-keyframes OpenTop {
	50% { 
		-webkit-transform: rotateX(10deg); 
		-webkit-animation-timing-function: ease-out; 
	}
}

@-moz-keyframes OpenTop {
	50% { 
		-moz-transform: rotateX(10deg); 
		-moz-animation-timing-function: ease-out; 
	}
}

@keyframes OpenTop {
	50% { 
		transform: rotateX(10deg); 
		animation-timing-function: ease-out; 
	}
}

.md-close {
	position: absolute;
    left: 35px;
}

.md-submit {
	position: absolute;
    right: 37px;
}



